altgraph==0.15
future==0.16.0
keyboard==0.13.3
macholib==1.9
numpy
opencv-contrib-python
opencv-python
peewee==3.7.1
pefile==2017.11.5
Pillow
pyinstaller
pypiwin32==223
PyQt5
pywin32
pywin32-ctypes
PyYAML
sip
qdarkstyle