altgraph==0.15
future==0.16.0
keyboard==0.13.3
macholib==1.9
numpy==1.15.2
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
peewee==3.7.1
pefile==2017.11.5
Pillow==5.1.0
pyinstaller==3.5.dev0+g0b6f1ec6
pypiwin32==223
PyQt5==5.9.2
pywin32==223
pywin32-ctypes==0.2.0
PyYAML==3.12
sip==4.19.8
