altgraph==0.15
future==0.16.0
helpdev==0.7.1
keyboard==0.13.3
macholib==1.9
numpy
opencv-contrib-python
opencv-python
packaging==20.4
peewee==3.7.1
pefile==2017.11.5
Pillow
PyInstaller
pyparsing==2.4.7
pypiwin32==223
PyQt5
PyQt5-sip==12.8.0
pywin32
pywin32-ctypes
PyYAML
QDarkStyle
QtPy==1.9.0
sip
six==1.15.0
toml==0.10.1
